<div class="container">
  <div class="row">
    <div class="col-md-4">

      <!-- Interpolation  -->
      <div class="form-group">
        <label class="control-label">Interpolation</label>
        <h3>{{NomeCurso}}</h3>
      </div>

      <!-- Property Binding -->
      <div class="form-group">
        <label class="control-label">Property Binding</label>
        <input type="text" class="form-control" [value]="NomeCurso">
      </div>

      <!-- Event Binding  -->
      <div class="form-group">
        <label class="control-label">Event Binding </label>
        <input type="text" class="form-control" (keyup)="onKeyUp($event.currentTarget.value)">
      </div>

      <!-- Two way data binding -->
      <div class="form-group">
        <label class="control-label">Two way data binding </label>
        <select class="form-control"
          [(ngModel)]="id"
          (ngModelChange)="selectName($event)">
          <option [value]="0">--Selecione--</option>
          <option [value]="1">Angular</option>
          <option [value]="2">ASP.NET Core</option>
        </select>
      </div>
    </div>
  </div>
</div>
